.auth {
  height: 100%;
  padding: 50px 0 50px 0;
  &-header {
    text-align: center;
  }
  &-descr {
    margin: 0 auto;
    margin-top: 25px;
  }
  .card {
    margin: 0 auto;
    margin-top: 25px;
    &-form {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      .wrapper {
        margin-right: 20px;
        &:nth-child(3) {
          margin-right: 0;
        }
        label {
          display: block;
          text-align: center;
          font-family: Futura PT Light, sans-serif;
          font-size: 18px;
          line-height: 20px;
          font-weight: 400;
          color: #000000;
        }
        .requirements {
          visibility: hidden;
        }
        input {
          margin-top: 7px;
          width: 318px;
          height: 48px;
          border: 1px solid #cccccc;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          font-family: Futura PT Light, sans-serif;
          color: gray;
          padding: 18px 22px;
          &:required {
            border: 1px solid red;
          }
          &:invalid ~ .requirements {
            visibility: visible;
            padding-left: 18px;
            margin-top: 7px;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            font-family: Futura PT Light, sans-serif;
            color: red;
          }
          &:valid {
            border: 1px solid skyblue;
          }
        }
        .btn {
          width: 139px;
          height: 48px;
          background-color: skyblue;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 24px;
          font-family: Futura PT Demi, sans-serif;
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #ffffff;
        }
      }
    }
  }
  .btn {
    width: 139px;
    height: 48px;
    background-color: skyblue;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 24px;
    font-family: Futura PT Demi, sans-serif;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;
  }
  .reg {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
  }
}
